@import url('reset.css');

html {
  font-family: 'Play', sans-serif !important;
}
body {
  background-color: #FEFEFE;
}
body a {
  text-decoration: none;
}

.contentWrapper {
  max-width: 1920px;
  min-height: 1080px;
  background-image: url(../images/dtpbackground.png);
  background-position: top;
  background-size: 2520px;
  background-repeat: no-repeat;
  color: white;
}
.bkgImg {
  height: 500px;
  background-image: url(../images/bkg2.png);
  background-size: 700px 500px;
  background-repeat: no-repeat;
  background-position: left;
  margin: 0 auto;
  max-width: 768px;
}
.bkg2 {
  display: none;
}
.header {
  background-color: #FEFEFE;
}


/*-------------------------media queries------------------------*/

  .citiesHeader,
  .citiesList,
  .citiesList2,
  .headerName,
  .textUnderHeader,
  .phoneNumber,
  .capabilities,
  .callMe,
  .headerText,
  .theyTrustUs {
    display: flex;
    justify-content: center;
  }
  .callMe:hover,
  .phoneNumber:hover,
  .callBeBackBtn:hover {
  transition: all .08s ease-in-out;
  }
  .callMe,
  .phoneNumber,
  .callBeBackBtn {
  transition: all .19s ease-in-out;
  }
  .logoImg,
  .mnuBtn {
    margin: 0 19px;
  }
  .contentWrapper {
    box-sizing: border-box;
  }
  .header {
    display: flex;
    flex-flow: column;
    position: absolute;
    top: -260px;
    height: 270px;
    width: 100%;
    transition: all 0.5s ease-in-out;
    z-index: 10;
    justify-content: flex-end;
  }
  .headerTop {
    display: flex;
    justify-content: space-between;
    height: 60px;
    position: relative;
    bottom: 0;
    transition: all 0.5s ease-in-out;
  }
  .location,
  .phone {
    display: flex;
    color: black;
    margin: -15px 0 0 20px;
    font-size: 1em;
    line-height: 20px;
  }
  .location {
    margin-bottom: 34px;
  }
  .location div {
    display: flex;
    align-items: center;
    color: black;
    margin-left: 15px;
    width: 208px;
    margin-top: -3px;
  }
  .phone {
    margin-bottom: 15px;
  }
  .phone a {
    display: flex;
    align-items: center;
    margin-left: 12px;
    color: black;
  }
  .callMe:hover {
    background-color: #D80020;
    color: #EAEAEA;
  }
  .callMe:active {
    background-color: #D80020;
    color: #EAEAEA;
  }
  .callMe {
    margin: 30px 20px -20px 20px;
    border: 2px solid #D80020;
    border-radius: 4px;
    color: #D80020;
    font-size: 22px;
    font-weight: bold;
    padding: 8px;
  }
  .menu {
    margin: 10px 0 0 0;
  }
  .citiesHeader {
    padding: 10px;
  }
  .citiesList {
    flex-wrap: wrap;
  }
  .citiesList div {
    margin: 10px;
  }
  .headerName {
    font-size: 30px;
    margin: 60px 20px 0 20px;
    text-align: center;
    line-height: 34px;
  }
  .textUnderHeader {
    margin: 20px 20px 0 20px;
    font-size: 22px;
    text-align: center;
  }
  .phoneNumber {
    margin: 40px auto 0 auto;
    /*border: 2px solid white;*/
    border-radius: 30px;
    max-width: 285px;
    box-sizing: border-box;
    background-color: #D80020;
  }
  .phoneNumber a {
    text-decoration: none;
    color: white;
    font-size: 24px;
    margin: 6px;
    padding: 11px;
  }
  .capabilities {
    flex-flow: column;
    align-items: center;
    padding: 0 0 60px 0;
  }
  .capabilitiesSmallBlocks {
    margin: 65px 50px 0 50px;
  }
  .textUnderIcon {
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
    max-width: 160px;
  }
  .icon {
    display: flex;
    margin: 0 auto;
  }
  .weWillHelpYou {
    text-align: center;
    height: 200px;
    background-color: #D80020;
    font-size: 24px;
  }
  .weWillHelpYou div {
    line-height: 36px;
    font-size: 20px;
  }
  .callUs {
    font-size: 18px;
  }
  .callBeBackBtn {
    background: #FEFEFE;
    border: 2px solid #FEFEFE;
    border-radius: 5px;
    color: #D80020;
    margin-top: 10px;
    padding: 9px 16px;
    font-weight: bold;
    font-size: 20px;
    height: 45px;
  }
  .callBeBackBtnWrapper {
    margin-top: 12px;
  }
  .callBeBackBtn:hover {
    color: #FEFEFE;
    background: #D80020;
  }
  .howWeHelpWrapper {
    width: 100%;
    background-color: #FEFEFE;
  }
  .howWeHelp {
    background-color: #FEFEFE;
    color: #363636;
    padding: 0 20px;
    max-width: 700px;
    margin: 0 auto;
  }
  .headerText {
    font-size: 28px;
    padding: 40px 0 40px 0;
  }
  .textPart1,
  .textPart2 {
    font-size: 16px;
  }

  .textPart2 {
    margin: 25px 0 30px 0;
  }
  .textHelpBlock {
    display: flex;
    margin: 19px 0;
  }
  .textHelpBlock div {
    display: flex;
    align-items: center;
  }
  .textHelpBlock img {
    margin-right: 10px;
  }
  .listFreeItems {
    padding: 0 0 40px 0;
  }
  .theyTrustUs {
    flex-flow: column;
    align-items: center;
    height: 420px;
    background-color: #E9E9E9;
    padding: 0 20px;
  }
  .headerText {
    color: #363636;
  }
  .blockQuotations {
    width: 280px;
    overflow: hidden;
  }
  .quotationWrapper {
    display: flex;
    justify-content: center;
    width: 1400px;
    height: 210px;
    transition: all .3s ease-in-out;
  }
  .sticky {
    position: fixed;
    top: 0px;
    z-index: 101;
  }
  .quotation {
    position: relative;
    width: 270px;
    height: 200px;
    color: #363636;
    border-radius: 7px;
    background-color: #FEFEFE;
    box-sizing: border-box;
    margin: 0 5px;
    -webkit-box-shadow: 1px 2px 1px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 1px 2px 1px 0px rgba(0,0,0,0.1);
    box-shadow: 1px 2px 1px 0px rgba(0,0,0,0.1);
  }
  .quotationInner {
    font-size: 14px;
    padding: 20px 10px 20px 15px;
  }
  .authorBlock {
    width: 250px;
  }
  .authorBlock {
    display: flex;
    align-items: center;
    font-size: 16px;
    margin: 20px 0 30px 0;
    font-weight: bold;
  }
  #btn1,
  #btn2,
  #btn3,
  #btn4,
  #btn5 {
    width: 10px;
    height: 10px;
    border: 1.5px solid #D80020;
    border-radius: 20px;
    margin: 5px;
  }

  #btn1 {
    background-color: #D80020;
  }
  .navigation {
    display: flex;
    justify-content: center;
    margin-top: 50px;
  }
  .partnersBlock {
    display: flex;
    flex-flow: column;
    align-items: center;
    padding-bottom: 25px;
  }
  .ourPartners a {
    margin: 25px;
  }
  .googleMap {
    width: 100%;
    height: 370px;
  }
  #mapCenter {
    display: block;
  }
  #mapLeft {
    display: none;
  }
  .contacts {
    padding: 0 20px;
  }
  .contactsText {
    display: flex;
  }
  .contactsText div {
    display: flex;
    flex-flow: column;
    width: 240px;
    color: #363636;
    line-height: 22px;
    margin: 0 0 0 15px;
  }
  .telephone {
    display: flex;
    margin-top: 35px;
  }
  .telephone div {
    color: #363636;
    display: flex;
    flex-flow: column;
    line-height: 22px;
    margin: -6px 0 0 9px;
  }
  .email {
    display: flex;
    margin-top: 35px;
  }
  .email div {
    color: #363636;
    display: flex;
    flex-flow: column;
    line-height: 22px;
    margin: -4px 0 0 9px;
  }
  .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    margin-top: 45px;
    background-color: #BABABA;
    color: #363636;
  }
  .headerMediumScreenSize {
    display: none;
  }
  .arrow {
    display: none;
  }
  .hider {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    background-color: #FEFEFE;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .onTop768px {
    font-size: 24px !important;
    padding-top: 18px;
  }
  .popUpWrapper {
    position: fixed;
    top: 200px;
    z-index: 1000;
    left: 50%;
    margin-left: -183px;
  }
  .popUpContainer {
    position: relative;
    width: 366px;
    height: 366px;
    background-color: #FEFEFE;
    margin: 0 auto;
    border-radius: 15px;
    z-index: 1000;
  }
  .popUpContainerInner {
    margin: 0px 40px 50px 40px;
  }
  .closeButton {
    display: flex;
    justify-content: flex-end;
    color: black;
    padding: 10px 20px;
    font-family: monospace;
    font-size: 20px;
  }
  .closeButton2 {
    display: flex;
    justify-content: flex-end;
    color: black;
    padding: 10px 20px;
    font-family: monospace;
    font-size: 20px;
  }
  .callMePopUp {
    display: flex;
    justify-content: center;
    margin: 0px 20px -20px 20px;
    color: #D80020;
    font-size: 22px;
    font-weight: bold;
    padding: 8px;
  }
  .callMePopUpCover {
    display: flex;
    justify-content: center;
    margin: 90px 10px -20px 10px;
    color: #D80020;
    font-size: 22px;
    font-weight: bold;
    padding: 8px;
  }
  .yaproFieldHTML {
    display: none;
  }
  .popUpText {
    color: black;
    margin-top: 24px;
    text-align: center;
  }
  .form {
    margin: 30px 0 0 0px;
  }
  .inputName,
  .inputPhoneNumber {
    margin: 11px 0;
    padding: 7px 15px;
    border: 1.7px solid #BABABA;
    width: 100%;
    box-sizing: border-box;
    border-radius: 3px;
    font-size: 16px;
    color: #BABABA;
  }
  .submitData {
    margin-top: 11px;
    border: 2px solid #D80020;
    border-radius: 4px;
    color: #FEFEFE;
    background-color: #D80020;
    font-size: 20px;
    font-weight: bold;
    padding: 8px;
    width: 100%;
    transition: all .19s ease-in-out;
  }
  .submitData:hover {
    background-color: #C0001C;
    transition: all .08s ease-in-out;
  }
@media only screen and (min-width : 321) {
 .sticky {
     position: fixed;
     top: 0px;
     z-index: 101;
 }
}
@media only screen and (max-width : 400px) {
  .popUpWrapper {
    left: 50%;
    margin-left: -150px;
    z-index: 1000;
  }
  .popUpContainer {
    width: 300px;
  }
  .popUpContainerInner {
    margin: 0px 15px 10px 15px;
  }
  .inputName,
  .inputPhoneNumber {
    width: 266px;
  }
}
@media only screen and (max-width : 700px) {
  .popUpWrapper {
    top: 10px;
  }
}
@media only screen and (min-width : 700px) {
  .callBeBackBtnWrapper {
    margin-top: 0px;
  }
  .sticky {
    top: -63px;  /* если ноль заменить на число (и в скрипте тоже), то блок будет прилипать до того, как верхний край окна браузера дойдёт до верхнего края элемента. Может быть отрицательным числом. Применим, например, при фиксированном сверху меню */
  }
  .textUnderHeader {
    font-size: 24px;
  }
  #mapCenter {
    display: none;
  }
  #mapLeft {
    display: block;
  }
  #headerTextPartners {
    padding-bottom: 0;
  }
  .partnersBlock {
    padding-bottom: 0;
  }
  .contentWrapper {
    background-size: 1777px;
  }
  .bkgImg {
    height: 550px;
    background-size: 768px 550px;
  }
  .arrow {
    display: block;
    margin: 0 50px;
    transition: all .19s ease-in-out;
  }
  #arrowLeft:hover {
    background-image: url(../images/arrowLeft_hover.png);
    background-repeat: no-repeat;
  }
  #arrowRight:hover {
    background-image: url(../images/arrowRight_hover.png);
    background-repeat: no-repeat;
  }
 .header,
 .hider {
   display: none;
 }
 .menu {
   margin-top: 0px;
 }
 .logoImg {
   display: flex;
   justify-content: center;
   position: absolute;
 }
 .content_1 {
   padding: 40px 25px 0 25px;
 }
 .headerMediumScreenSize {
   display: flex;
   justify-content: space-between;
   max-width: 1200px;
   height: 60px;
   margin: 0 auto;
   background-color: #FEFEFE;
   color: #363636;
   border-radius: 5px;
   padding: 0 16px;
 }
 .callMe {
   margin: 7px 10px;
 }
 .phoneMediumScreenSize {
   display: none;
 }
 .location {
   display: flex;
   margin: 0 0 0 0;
 }
 .pin {
   margin: 15px 0 0 10px;
  }
  .logoCenter {
    position: absolute;
    margin: -20px auto 0 auto;
    left: 50%;
    margin-left: -50px;
  }
  .menu {
    display: flex;
    margin: 55px auto 0 auto;
    justify-content: space-around;
    max-width: 760px;
  }
  .headerName {
    font-size: 38px;
  }
  .phoneNumber {
    margin: 40px auto 0 auto;
    border: 2px solid white;
    max-width: 394px;
    box-sizing: border-box;
    background-color: rgba(255, 0, 0, 0);
  }
  .phoneNumber a {
    font-size: 38px;
  }
  .capabilities {
    justify-content: space-around;
    flex-flow: row;
    max-width: 620px;
    flex-wrap: wrap;
    margin: 0 auto;
  }
  .weWillHelpYou {
    display: flex;
    flex-wrap: wrap;
    height: 125px;
    justify-content: center;
    align-items: center;
  }
  .onTop768px {
    width: 100%;
  }
  .weWillHelpYou div {
    padding: 0 11px;
  }
  #headerText {
    display: flex;
    justify-content: flex-start;
  }
  .boldRed {
    font-weight: bold;
    color: #D80020;
  }
  .blockQuotationsWrapper {
    display: flex;
    align-items: center;
  }
  .arrowImg {
    height: 77px;
    opacity: 0.6;
  }
  .partnersBlock {
    flex-flow: row;
    justify-content: center;;
  }
  .partnersBlock a {
    margin: 40px 25px;
  }
  .googleMap {
    position: absolute;
  }
  .contacts {
    position: relative;
    width: 440px;
    height: 355px;
    background-color: #FEFEFE;
    box-sizing: border-box;
    margin-top: 15px;
  }
  .contactsText,
  .telephone,
  .email {
    margin-left: 50px;
    line-height: 19px;
    font-size: 16px;
  }
  .contactsText div {
    width: auto;
  }
  .contactWrapper {
    display: flex;
    justify-content: flex-end;
    height: 370px;
  }
  .footer {
    margin: 0;
  }
  .phoneNumber:hover {
    background-color: #C0001C;
  }
}
@media only screen and (min-width : 1366px) {
  .sticky {
    top: 0px;  /* если ноль заменить на число (и в скрипте тоже), то блок будет прилипать до того, как верхний край окна браузера дойдёт до верхнего края элемента. Может быть отрицательным числом. Применим, например, при фиксированном сверху меню */
  }
  .textUnderHeader {
    font-size: 24px;
  }
  .contentWrapper {
    background-size: 2000px;
  }
  .howWeHelpWrapperWrapper {
    width: 100%;
    background-color: #FEFEFE;
  }
  .howWeHelpWrapper {
    display: flex;
    max-width: 1366px;
    margin: 0 auto;
  }
  .howWeHelp {
    width: 50%;
    padding-left: 100px;
  }
  .bkgImg {
    display: none;
  }
  .bkg2 {
    display: flex;
    width: 50%;
    max-width: 700px;
  }
  .phoneMediumScreenSize {
    display: flex;
    align-items: center;
    padding-right: 20px;
  }
  .phoneMediumScreenSize a {
    color: black !important;
  }
  .location {
    flex: 1 1 auto;
  }
  /*.logoCenter {
    margin-left: 170px;
  }*/
  .wrapperH {
    display: flex;
    flex: 1 1 auto;
    justify-content: flex-end;
  }
  .capabilities {
    justify-content: center;
    flex-flow: row;
  }
  .capabilitiesSmallBlocks {
    margin: 65px 65px 0 65px;
  }
  .textUnderIcon {
    width: 155px;
  }
  .onTop768px {
    width: auto;
  }
  .weWillHelpYou {
    height: 60px;
    justify-content: space-around;;
  }
  .callBeBackBtnWrapper {
    margin-top: 0px;
  }
  .weWillHelpYouWrapper {
    width: 100%;
    background-color: #D80020;
  }
  .weWillHelpYou {
    max-width: 950px;
    margin: 0 auto;
  }
  .blockQuotations {
    width: 840px;
    overflow: hidden;
  }

  #btn2,
  #btn4,
  #btn5 {
    display: none;
  }
}
